<section class="auth-box"> 
    <h1>Forgot Password</h1>
    <p>Coding Ninja Test3</p>
    <form action="/users/send-reset-link" method="POST" class="form-design">
     
          <input type="email" placeholder="Your Email" name="email" required>
   
           <button type="submit">Reset</button>
    
    </form>
    
    </section>