<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/auth.css">
    </head>
    <body>
       <%- include('_header') %>

       <main id="layout-main">
        <%- body %>
       </main>

        <%- include('_footer') %>
    </body>
</html>