
<section class="auth-box">
    <h1>Sign Up</h1>
    <p>Coding Ninja Test3</p>

<form action="/users/create" method="post" class="form-design">

    <input type="text" name="name" placeholder="Your Name" required>
     <input type="email" name="email" placeholder="Your Email" required>
     <input type="password" name="password" placeholder="Your Password" required>
     <input type="password" name="confirm_password" placeholder="Confirm Password" required>
      <button type="submit" value="SignUp">SignUp</button>
</form>
<p>OR</p>
<P>
    <a href="/users/auth/google">
       <img class="google" src="https://image.flaticon.com/icons/svg/2965/2965278.svg">
    </a>

</P>

</section>