<section class="auth-box"> 
    <h1>Sign In</h1>
    <p>Coding Ninja Test3</p>
    <form action="/users/create-session" method="POST" class="form-design" id="subscribeForm">
     
          <input type="email" placeholder="Email" name="email"  id="email" required>
          <input type="password" placeholder="Password" name="password" id="password"  required>
          <div
            class="g-recaptcha"
            data-sitekey="6Le5D6sZAAAAAKKmF8ZniHsIk8Opx3Ji8dJXhAiy"
          ></div>
           <button type="submit">SignIn</button>


    
    </form>
    <p>OR</p>
    <P>
        <a href="/users/auth/google">
           <img class="google" src="https://image.flaticon.com/icons/svg/2965/2965278.svg">
        </a>

    </P>
    <p>
        <a href="/users/forgot-password">Forgot Password</a>
    </p>
    
    </section>

   