<section class="auth-box"> 
    <h1>Sign In</h1>
    <p>Coding Ninja Test3</p>
    <form action="/users/create-session" method="POST" class="form-design">
     
          <input type="email" placeholder="Email" name="email" required>
          <input type="password" placeholder="Password" name="password" required>
           <button type="submit">SignIn</button>
    
    </form>
    <p>OR</p>
    <P>
        <a href="/users/auth/google">
           <img class="google" src="https://image.flaticon.com/icons/svg/2965/2965278.svg">
        </a>

    </P>
    
    </section>
    