.footer {
    display: flex;
    background-color: lightslategray; }
  
  .company {
    display: inline-block;
    padding: 20px;
    color: white; }
  
  .footer-nav {
    display: flex;
    align-items: center;
    margin-left: auto; }
    .footer-nav li {
      list-style: none;
      padding: 10px; }
      .footer-nav li a {
        text-decoration: none;
        color: white; }
      .footer-nav li a:hover {
        color: yellowgreen; }
      .footer-nav li a:active {
        background-color: gold; }
.reset-password {
   list-style: none;
}
.reset-password a {
     text-align: center;
     text-decoration: none;
     color:crimson;
     
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
     text-transform: uppercase;
}
.footer-site-nav {
    margin-left: 80%;
}